<!-- header -->
<header class="header ">
  <div class="container">
    <h1 class="header-logo">
      <a href="{{homeUrl}}">Keisuke Nagaoka</a>
    </h1>
    <nav class="gnav">
      <ul class="gnav-list">
        <li class="gnav-item"><a href="{{navPrefix}}#works">WORKS</a></li>
        <li class="gnav-item"><a href="{{navPrefix}}#personal-projects">PERSONAL PROJECTS</a></li>
        <li class="gnav-item"><a href="{{navPrefix}}#skill">SKILL</a></li>
        <li class="gnav-item"><a href="{{navPrefix}}#about">ABOUT</a></li>
        <li class="gnav-item"><a href="{{navPrefix}}#contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- /header -->
