
      <!-- about -->
      <section class="about section" id="about">
        <div class="container">
          <h2 class="title">ABOUT</h2>
          <div class="profile">
            <p class="profile-img">
              <img src="{{siteRoot}}img/profile.jpg" alt="">
            </p>
            <div class="profile-body">
              <p>
                アミューズメント業界、人材派遣業界、ウォーターサーバー業界を経てエンジニアに転職。エンジニア転職する以前は中間管理職も経験してまいりました。
                <br>無駄を嫌う性格で、課題解決、生産性向上、効率化を図り、周囲の方々に喜んでいただいた経験から自分でもっと便利なものを開発して提供できれば、より良い人生が送れるのではないかと思い、思い切ってエンジニアに転職いたしました。
              </p>
              <p>マラソン大会の計測事業会社、モータースポーツのサーキット・主催団体の顧客管理・エントリーシステム提供会社にてエンジニアとして従事し、現在はフリーランスエンジニアとして活動しております。
                <br>PHP（Laravel）開発を中心としたバックエンドが得意分野ですが、フルスタックでの開発が可能です。
              </p>
              <p>
                WEBアプリケーション以外にもVBA、マクロを活用したExcel、Accessツールの開発もIT業界以前から行ってまいりました。ゆくゆくはプロジェクトをマネジメントする側の人材になることで、より自身の市場価値を高めていきたいと考えています。
                <br>どんな業務でも「まずはやってみる」「仮置きでも進める」という姿勢で、臨んでまいりました。
              </p>
              <p>
                私は「とにかく無駄を嫌う」性格です。事前準備や調査が必要なことでも、そのような泥臭い行動が後々の面倒や無駄を省くことに繋がると考え、日々の業務や私生活に取り入れております。まずは「形はともかく要件を満たしている機能が実装されたもの」を作ることを重点的に行い、デザインやUIは顧客と相談しながら進めていくことで、互いに無駄なやり取りを少なくすることを大切にし、スピード感を持って作業に取り組んでまいりました。
              </p>
              <p>
                <a href="https://github.com/keisuke-nagaoka" target="_blank" rel="noopener noreferrer">GitHub公開リポジトリはこちら</a>
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- /about -->