
      <!-- personal projects -->
      <section class="personal-projects section" id="personal-projects">
        <div class="container">
          <h2 class="title">PERSONAL PROJECTS</h2>
          <div class="personal-projects-list">
            <a class="personal-projects-item" href="{{siteRoot}}personal-projects/lists/personal-project-template.html">
              <div class="personal-projects-img"><img src="{{siteRoot}}img/personal-projects/icon_dev_1.png" alt="" /></div>
              <p class="personal-projects-name">Go言語</p>
            </a>
            <a class="personal-projects-item" href="{{siteRoot}}personal-projects/lists/personal-project-template2.html">
              <div class="personal-projects-img"><img src="{{siteRoot}}img/personal-projects/icon_dev_2.png" alt="" /></div>
              <p class="personal-projects-name">Node.js + TypeScript</p>
            </a>
          </div>
        </div>
      </section>
      <!-- /personal projects -->