
      <!-- skill -->
      <section class="skill section" id="skill">
        <div class="container">
          <h2 class="title">SKILL</h2>
          <div class="skill-list">
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_1.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">HTML/CSS</h3>
                <p class="skill-text">
                  レスポンシブデザイン対応</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_2.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">JavaScript</h3>
                <p class="skill-text">
                  DOM操作、非同期処理</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_3.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Node.js</h3>
                <p class="skill-text">
                  Laravelのフロントエンド開発ツールとして使用</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_4.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Jinja</h3>
                <p class="skill-text">
                  Flaskのフロントエンド開発ツールとして使用</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_5.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Python</h3>
                <p class="skill-text">
                  基本構文、デスクトップアプリ・WEBアプリ開発、API開発</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_6.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">PHP</h3>
                <p class="skill-text">
                  基本構文、WEBアプリ開発、WordPress開発、API開発</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_7.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">VBA</h3>
                <p class="skill-text">
                  基本構文、ツール開発</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_8.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Flask</h3>
                <p class="skill-text">
                  WEBアプリ開発</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_9.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Laravel</h3>
                <p class="skill-text">
                  WEBアプリ開発</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_10.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">WordPress</h3>
                <p class="skill-text">
                  WEBサイト構築</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_11.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">MySQL</h3>
                <p class="skill-text">
                  クエリ最適化、テーブル設計</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_12.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Firebird</h3>
                <p class="skill-text">
                  クエリ最適化、テーブル設計</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_13.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Git</h3>
                <p class="skill-text">
                  チーム開発でのリポジトリ管理</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_14.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">GitHub</h3>
                <p class="skill-text">
                  チーム開発でのリポジトリ管理、プルリクエスト、マージ</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_15.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Docker</h3>
                <p class="skill-text">
                  コンテナ作成、Compose、環境構築</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_16.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">GitHub Copilot</h3>
                <p class="skill-text">
                  AI駆動開発</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_17.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Access</h3>
                <p class="skill-text">
                  クエリ、フォーム、レポートの構築、ODBC連携、VBA開発</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_18.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Excel</h3>
                <p class="skill-text">
                  関数、マクロ、VBAを活用したテーブル・表などの作成</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_19.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Windows</h3>
                <p class="skill-text">
                  環境構築</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_20.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Mac</h3>
                <p class="skill-text">
                  環境構築</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_21.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Linux</h3>
                <p class="skill-text">
                  環境構築</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_22.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">WSL2</h3>
                <p class="skill-text">
                  環境構築</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_23.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Ubuntu</h3>
                <p class="skill-text">
                  環境構築</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_24.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">AWS</h3>
                <p class="skill-text">
                  環境構築（当サイトもAWS上で構築・運用しています）</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_25.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">ChatGPT</h3>
                <p class="skill-text">
                  業務効率化</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_26.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Gemini</h3>
                <p class="skill-text">
                  業務効率化</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="{{siteRoot}}img/skills/icon_skill_27.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">NoteBookLM</h3>
                <p class="skill-text">
                  業務効率化</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /skill -->