
      <!-- works -->
      <section class="works section" id="works">
        <div class="container">
          <h2 class="title">WORKS</h2>
          <div class="works-list">
            <a class="works-item" href="{{siteRoot}}works/works-template.html">
              <div class="works-img"><img src="{{siteRoot}}img/works/works-sample-thumb.jpg" alt="" /></div>
              <p class="works-name">レースナビ：マラソン大会のランナー位置予測サービス</p>
              <p class="works-info">Development</p>
            </a>
            <a class="works-item" href="{{siteRoot}}works/works-template2.html">
              <div class="works-img"><img src="{{siteRoot}}img/works/works-sample-thumb2.jpg" alt="" /></div>
              <p class="works-name">WebRunCert：マラソン大会の記録速報 + 記録証ダウンロードサービス</p>
              <p class="works-info">Development</p>
            </a>
            <a class="works-item" href="{{siteRoot}}works/works-template3.html">
              <div class="works-img"><img src="{{siteRoot}}img/works/works-dummy-thumb.jpg" alt="" /></div>
              <p class="works-name">受付管理システム：マラソン大会当日の受付システム</p>
              <p class="works-info">Development</p>
            </a>
            <a class="works-item" href="{{siteRoot}}works/works-template4.html">
              <div class="works-img"><img src="{{siteRoot}}img/works/works-dummy-thumb.jpg" alt="" /></div>
              <p class="works-name">マラソン大会記録計測デスクトップアプリ + 記録速報＆記録証ダウンロードサービス(WEBアプリ)</p>
              <p class="works-info">Development</p>
            </a>
            <a class="works-item" href="{{siteRoot}}works/works-template5.html">
              <div class="works-img"><img src="{{siteRoot}}img/works/works-sample-thumb3.jpg" alt="" /></div>
              <p class="works-name">Slackbot開発</p>
              <p class="works-info">Development</p>
            </a>
            <a class="works-item" href="{{siteRoot}}works/works-template6.html">
              <div class="works-img"><img src="{{siteRoot}}img/works/works-sample-thumb4.jpg" alt="" /></div>
              <p class="works-name">マラソン大会の記録様式出力ツールの開発（Access）</p>
              <p class="works-info">Development</p>
            </a>
            <a class="works-item" href="{{siteRoot}}works/works-template7.html">
              <div class="works-img"><img src="{{siteRoot}}img/works/works-sample-thumb5.jpg" alt="" /></div>
              <p class="works-name">セミナー販売サイトのプラグイン追加・機能改修</p>
              <p class="works-info">Development</p>
            </a>
          </div>
        </div>
      </section>
      <!-- /works -->